.togglemenu {
    display: none !important;
}

.menu-bar {
    display: none;
}

@media (max-width:1200px) {
    .relativecontainer {
        position: relative;
    }

    .header-humbager {
        display: none !important;
    }

    .togglemenu {
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .togglemenu {
        font-size: 30px;
    }

    .menu-bar {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 99;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        padding: 0% !important;
        transition: all 0.3s linear;
        /* overflow: auto; */
    }

    .menu-Active {
        right: 0% !important;
    }

    .menu-bar .navigation-parent {
        overflow: auto;
        width: 85%;
        background-color: #E5E4D8;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-left: 1px solid black;
    }

    .menu-bar .navigation-parent .close-box {
        width: 100%;
        height: 96px;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0px 30px;
    }

    .menu-bar .navigation-parent .close-box i {
        font-size: 34px;
    }

    .menu-bar .navigation-parent ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0% !important;
    }

    .menu-bar .navigation-parent ul li a {
        width: 100%;
        height: 50px;
        color: black;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 15px;
    }

    .menu-bar .navigation-parent ul li a i {
        font-size: 26px;
    }

    .drop-down{
        display: none !important;
    }

    .active-drop-down{
        display: flex !important;
    }

    .menu-bar .navigation-parent ul li .drop-down li a{
        padding-left: 20px;
    }

    .menu-bar .navigation-parent .btn-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .menu-bar .navigation-parent .btn-box {
        display: flex;
        flex-direction: column;
        /* gap: 10px; */
        /* padding: 10px; */
        padding: 15px;
        width: 100%;
    }
    
        .menu-bar .navigation-parent .btn-box a{
            width: 100%;
        }

}